@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 100%
    }
}

.navibar1 {
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    box-sizing: unset;
}

body {
    height: 50px;
}

.gradient-pattern {
    animation: gradient 4s ease infinite;
    background-image: linear-gradient(1deg, #79BAB6, #542B79);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
}

@keyframes gradient {
    0% {
        background-position: 51% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 51% 0%;
    }
}